
#title {
    color: white;
    background: darkblue;
    text-align: center;
    padding: 10pt;
    font-size: 180% !important;

    
}

ul {
    list-style-type: none;
    padding-left: 0 !important;
    align-items: center;
    
    
}

/* li {
    background-color: grey !important;
} */

p {
    text-align: left;
    
   
}

#todays-forecast {
    text-align: left;
    
}

h1 {
    font-size: 180% !important;
}

#day1, #day2, #day3, #day4, #day5 {
    align-items: center !important;
}